.centerer() {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.reset() {
  margin: 0;
  padding: 0;
}

.heading-big() {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: @black;
}

.heading-middle() {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @black;
}

.text-middle() {
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
}

.text-small() {
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

@media (min-width: @tablet-width) {
  .centerer() {
    width: 768px;
    padding: 0 50px;
  }
}
