.centerer() {
  width: 320px;
  margin: 0 auto;
}

.reset() {
  margin: 0;
  padding: 0;
}

.global-font() {
  font-size: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 24px;
  font-weight: normal;
  color: @dark-gray;
}

.heading-big() {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: @black;
}

.heading-middle() {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: @black;
}

.header-small() {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: @black;
}

.subtitle() {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: @light-green;
}

.groups-title() {
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: @white;
}

.menu-link() {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @black;
}

.advantages-text() {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: @black;
}

.reviews-text() {
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: @dark-gray;
}

.nickname() {
  font-size: 17px;
  line-height: 30px;
  font-weight: normal;
  color: @dark-gray;
}

.button-text() {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: @dark-gray;
}

.modal-btn() {
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: @white;
}

.copyright() {
  font-size: 19px;
  line-height: 19px;
  font-weight: bold;
  color: @black;
}

.product-desc() {
  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
  color: @dark-gray;
}

.video-desc() {
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: @dark-gray;
}

.note() {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: @dark-gray;
}

.label() {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: @black;
}

.legend() {
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: @light-green;
}
