.advantages {
  .centerer();
  box-shadow: 0 0 0 3px red;
}

.advantages__wrapper {
  padding: 30px;
}

.advantages__title {
  .reset();
  flex-direction: column;
  margin-bottom: 28px;
  .heading-big();
}

.advantages__list {
  .reset();
  display: flex;
  flex-direction: column;
  list-style: none;
}

.advantages__item {
  margin-bottom: 28px;
  padding-top: 55px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: @black;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: @tablet-width) {
  .advantages__wrapper {
    padding: 50px 0;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 300px;

    &--eco-friendly {
      order: 1;
    }

    &--hand-made {
      order: 2;
    }

    &--stylish {
      order: 3;
    }

    &--patriotic {
      order: 4;
    }

    &--likes {
      order: 5;
    }

    &--gift-wrap {
      order: 6;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper {
    padding: 70px 175px;
  }
}
