.advantages {
  .centerer();

  box-shadow: 0 0 0 3px red;
}

.advantages__wrapper {
  padding: 30px;
}

.advantages__title {
  .reset();
  margin-bottom: 28px;

  .heading-middle();
}

.advantages__list {
  .reset();

  list-style: none;
}

.advantages__item {
  margin-bottom: 28px;
  padding-top: 55px;

  &:last-child {
    margin-bottom: 0;
  }

  .advantages-text();
}
