.catalog-item {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 374px;
  border: 1px solid @card-border;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.catalog-item__title {
  margin: 0;
  padding: 26px 28px 6px 28px;
  .heading-small();

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-item__description {
  margin: 0 0 15px 0;
  padding: 0 28px;
  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
}

.catalog-item__price {
  margin-top: 22px;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: @black;
}

.catalog-item__cart {
  width: 21px;
  height: 19px;
  margin-top: 22px;
}

.catalog-item__cart {
  fill-opacity: 0.2;

  &:hover,
  &:focus {
    fill: @light-green;
    fill-opacity: 1;
  }

  &:active {
    fill-opacity: 0.3;
  }
}

.catalog-item__photo {
  display: block;
  width: 260px;
  height: 195px;
  border: none;
}

.catalog-item__wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 72px;
  margin: 0 28px;
  border-top: 1px solid @card-border;
}

@media (min-width: @tablet-width) {
  .catalog-item {
    width: auto;
    padding: 0 0 0 334px;
    min-height: 334px;
  }

  .catalog-item__photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 334px;
    height: 334px;
  }

  .catalog-item__wrapper {
    margin: 0 32px;
  }

  .catalog-item__title {
    margin: 0;
    padding: 25px 66px 6px 26px;
    font-size: 20px;
  }

  .catalog-item__description {
    font-size: 15px;
    padding-left: 26px;
  }

  .catalog-item__price {
    font-size: 17px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-item {
    padding: 0;
    width: 316px;
    min-height: 659px;
  }

  .catalog-item__photo {
    position: static;
    width: 316px;
    height: 462px;
  }

  .catalog-item__title {
    padding: 24px 48px 6px 27px;
  }

  .catalog-item__description {
    padding: 0 32px 0 27px;
  }

  .catalog-item__wrapper {
    margin: 0 32px 0 27px;
  }
}
