.catalog-item {
  box-shadow: 0 0 0 3px green;
  padding: 30px 0;
}

.catalog-item__title {
  .reset();
  margin-top: 26px;
  margin-left: 28px;

  .menu-link();
}

.catalog-item__description {
  .reset();
  margin-left: 28px;
  margin-bottom: 18px;

  .product-desc();
}

.catalog-item__price {
  .reset();
  margin-left: 28px;
  margin-bottom: 28px;

  font: inherit;
  font-weight: bold;
}
