.contacts__wrapper {
  box-sizing: border-box;
  .centerer();
  padding: 0 30px;
}

.contacts__title {
  margin: 36px 0 27px 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: @black;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  .reset();
  margin-bottom: 8px;
  list-style: none;
  .text-middle();
}

.contacts__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 30px;
}

.contacts__field {
  .reset();
  margin-right: 30px;
}

.contacts__value {
  .reset();
}

.contacts__email {
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    bottom: -4px;
    content: "";
    height: 1px;
    width: 100%;
    background-color: @dark-green-2;
  }

  &:hover,
  &:focus {
    color: @dark-green-2;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  height: 457px;
  width: 100%;
  margin: 0 auto;
  background: url("/img/map-mobile@1x.jpg") no-repeat 50% 0;
  background-size: 320px auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("/img/map-mobile@2x.jpg");
  }
}

.contacts__map iframe {
  border: none;
  width: 100%;
}

.contacts__feedback-control {
  margin: 39px 0;
  font-size: 18px;
}

@media (min-width: @tablet-width) {
  .contacts__title {
    position: relative;
    .heading-big();
    margin: 62px 0 50px 0;

    &::after {
      position: absolute;
      content: "";
      right: 2px;
      top: -14px;
      width: 47px;
      height: 81px;
      background: @white url("/img/icon-flag.svg") no-repeat 0 0;
    }
  }

  .contacts__list {
    flex-direction: row;
    margin-bottom: 28px;
    font-size: 17px;
  }

  .contacts__item {
    width: 50%;
  }

  .contacts__field {
    margin-right: 25px;
  }

  .contacts__value {
    width: 230px;
  }

  .contacts__feedback-control {
    display: block;
    width: 230px;
    margin: 55px auto 57px auto;
    font-size: 17px;
  }

  .contacts__map {
    background: url("/img/map-tablet@1x.jpg") no-repeat 50% 0;
    background-size: 768px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("/img/map-tablet@2x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .centerer();
    padding-top: 71px;
    padding-bottom: 105px;
  }

  .contacts__wrapper {
    box-sizing: content-box;
    width: 300px;
    margin: 0;
    padding: 0 50px 0 175px;
  }

  .contacts__title {
    .heading-huge();
    margin: 70px 0 50px -4px;

    &::after {
      left: -105px;
      top: -8px;
    }
  }

  .contacts__list {
    flex-direction: column;
  }

  .contacts__item {
    width: auto;
  }

  .contacts__value {
    width: auto;
  }

  .contacts__map {
    margin: 0;
    width: 525px;
    background: url("/img/map-desktop@1x.jpg") no-repeat 50% 0;
    background-size: 100% auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("/img/map-desktop@2x.jpg");
    }
  }

  .contacts__feedback-control {
    margin: -52px auto 0 2px;
  }
}
