.contacts {
  .centerer();
  box-shadow: 0 0 0 3px red;
}

.contacts__wrapper {
  padding: 27px 0 39px 0;
}

.contacts__title {
  margin: 0 0 27px 0;
  padding: 0 30px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: @black;
}

.contacts__list {
  padding: 0 30px;
  margin-bottom: 36px;
  text-align: left;
}

.contacts__field {
  width: 61px;
  vertical-align: top;
}

.contacts__value {
  width: 183px;
  vertical-align: top;
}

.contacts__map {
  height: 457px;
  width: 100%;
  margin-bottom: 39px;
  background: url("/img/map-mobile@1x.jpg") no-repeat 0 0;
}

.contacts__feedback-control {
  margin: 0 30px;
}
