.copyright {
  padding: 22px 0 23px 0;
}

.copyright__logo {
  margin-left: 20px;

  path {
    fill: @light-green;
  }
}

.copyright__text {
  font-size: 19px;
  line-height: 19px;
  font-weight: bold;
  color: @black;
  text-align: center;
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    .copyright__logo path {
      fill: @toys-btn-hover;
    }
  }

  &:active {
    opacity: 0.3;

    .copyright__logo path {
      fill-opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .copyright__link {
    justify-content: flex-end;
  }
}
