.craft-process {
  .centerer();
}

.craft-process__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 30px 58px 30px;
  border: 1px solid @card-border;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.craft-process__title {
  position: relative;
  margin: 25px 0;
  padding-left: 90px;
  .heading-small();

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 34px;
    width: 32px;
    height: 22px;
    margin-top: -11px;
    background: url("/img/icon-video.png") no-repeat 50% 50%;
  }
}

.craft-process__description {
  padding: 28px 34px 33px 34px;
}

.craft-process__text {
  margin: 0 0 24px 0;
  .text-small();
}

.craft-process__player {
  position: relative;
  width: 260px;
  height: 150px;
}

.craft-process__video {
  background: url("/img/video-mobile@1x.jpg") no-repeat 50% 50%;
  background-size: 100%;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("/img/video-mobile@2x.jpg");
  }
}

.craft-process__play-btn {
  position: absolute;
  top: 36px;
  left: 79px;
  width: 102px;
  height: 78px;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.craft-process__order {
  width: 192px;
}

@media (min-width: @tablet-width) {
  .craft-process__wrapper {
    margin: 0 0 63px 0;
  }

  .craft-process__player {
    width: 668px;
    height: 455px;
    order: 1;
  }

  .craft-process__video {
    width: 668px;
    height: 455px;
    background: url("/img/video-tablet@1x.jpg") no-repeat 50% 50%;
    background-size: 100%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("/img/video-tablet@2x.jpg");
    }
  }

  .craft-process__play-btn {
    top: 188px;
    left: 276px;
  }

  .craft-process__header {
    order: 2;
  }

  .craft-process__title {
    margin: 36px 42px 33px 40px;
    padding-left: 65px;
    font-size: 20px;

    &::before {
      left: 0;
    }
  }

  .craft-process__description {
    padding: 0 42px 44px 42px;
    order: 3;
  }

  .craft-process__text {
    margin: 0 0 37px 0;
    .text-middle();
  }

  .craft-process__order {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .craft-process__player {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
    height: 455px;
  }

  .craft-process__video {
    width: 682px;
    height: 455px;
    background: url("/img/video-desktop@1x.jpg") no-repeat 50% 50%;
    background-size: 100%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("/img/video-desktop@2x.jpg");
    }
  }

  .craft-process__play-btn {
    top: 187px;
    left: 284px;
  }

  .craft-process__wrapper {
    width: 350px;
    margin: 0 0 102px 0;
    min-height: 455px;
    padding: 0 0 0 700px;
  }

  .craft-process__title {
    padding: 51px 0 0 0;
    margin: 43px 60px 34px 60px;
    width: 150px;

    &::before {
      top: 2px;
      left: 2px;
      margin: 0;
    }
  }

  .craft-process__description {
    padding: 0 60px 60px 61px;
  }

  .craft-process__text {
    margin-bottom: 47px;
  }

  .craft-process__order {
    width: 230px;
  }
}
