.custom-order {
  margin: 0 auto;
  width: 320px;
}

.custom-order__wrapper {
  padding: 22px 30px 55px 30px;
}

.custom-order__intro {
  margin: 0 0 24px 0;
  .text-small();
}

@media (min-width: @tablet-width) {
  .custom-order {
    width: 100%;
    margin: 0;
  }

  .custom-order__wrapper {
    padding: 60px 0 33px 0;
  }

  .custom-order__intro {
    font-size: 17px;
    line-height: 30px;
    width: 615px;
    padding: 0 50px;
  }
}

@media (min-width: @desktop-width) {
  .custom-order__wrapper {
    padding-top: 102px;
  }

  .custom-order__intro {
    width: 700px;
    margin: 0 auto 5px auto;
  }
}
