.main-nav {
  box-shadow: 0 0 0 3px blue;

  background-color: @white;
}

.main-nav__list {
  .reset();
  list-style: none;
  text-align: center;

  box-shadow: 0 0 0 3px green;
}

.main-nav__item {
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;

  .menu-link();
}

.main-nav__toggle {
  display: inline-block;
}
