.modal-order {
  .centerer();
}

.modal-order__wrapper {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 46px;
  padding-left: 30px;
}

.modal-order__title {
  .reset();
  margin-bottom: 18px;

  .heading-middle();
  text-transform: uppercase;
  word-wrap: wrap;

  text-align: center;
}

.modal-order__button {
  box-sizing: content-box;

  .modal-btn();

  border-color: @light-green;
  background-color: @light-green;
}
