.modal-order {
  .centerer();
}

.modal-order__wrapper {
  padding: 30px 30px 46px 30px;
}

.modal-order__title {
  .reset();
  margin-bottom: 18px;
  .heading-big();
  text-transform: uppercase;
  text-align: center;
}

.modal-order__button {
  box-sizing: content-box;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: @white;
  border-color: @light-green;
  background-color: @light-green;
}
