.modal-form__fieldset {
  .reset();
  margin-bottom: 30px;

  border: none;
}

.modal-form__legend {
  .reset();
  margin-bottom: 20px;

  .reviews-text();
  text-align: center;
}

.modal-form__list {
  .reset();

  list-style: none;
}

.modal-form__radio {
  display: inline-block;
}
