.modal-form__fieldset {
  .reset();
  margin-bottom: 30px;
  border: none;
}

.modal-form__legend {
  margin-bottom: 20px;
  .text-middle();
  text-align: center;
}

.modal-form__list {
  .reset();
  list-style: none;
}

.modal-form__radio {
  display: inline-block;
}
