.order-form {
  box-shadow: 0 0 0 3px blue;
}

.order-form__fieldset {
  .reset();

  border: none;
}

.order-form__legend {
  margin-bottom: 24px;

  .legend();
}

.order-form__group {
  .reset();

  list-style: none;
}

.order-form__label {
  .label();
}

.order-form__field {
  margin-bottom: 14px;
}

.order-form__button {
  box-sizing: content-box;
}

.order-form__note {
  .reset();
  margin-top: 18px;
  margin-bottom: 30px;

  .note();
}
