.page-footer {
  .centerer();
  background-color: @light-gray;
  box-shadow: 0 0 0 3px red;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  padding: 30px;
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer__logo {
    display: block;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .reset();
    min-height: 143px;
  }

  .page-footer__copyright {
    .reset();
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    min-height: 160px;
  }
}
