.page-footer {
  .centerer();

  background-color: @light-gray;
  box-shadow: 0 0 0 3px red;
}

.page-footer__wrapper {
  padding: 30px;
}

.page-footer__social {
  padding-bottom: 30px;
}

.page-footer__copyright {
  padding-top: 30px;
  padding-right: 39px;
  padding-bottom: 0;
  padding-left: 39px;
}
