.page-footer {
  .centerer();
  background-color: @light-gray;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  padding: 0 30px;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  width: 100%;
}

.page-footer__copyright {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .page-footer__logo {
    display: block;
    width: 33%;
  }

  .page-footer__logo-image {
    width: 102px;
    height: 34px;

    &:hover,
    &:focus {
      path {
        fill: @toys-btn-hover;
      }
    }

    &:active {
      path {
        fill-opacity: 0.3;
      }
    }
  }

  .page-footer__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .reset();
  }

  .page-footer__social {
    width: 33%;
  }

  .page-footer__copyright {
    width: 33%;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    min-height: 160px;
  }
}
