.page-header {
  position: relative;
  width: 100%;
  min-height: 79px;
}

.page-header__toggle {
  display: block;
  position: absolute;
  top: 29px;
  right: 30px;
  width: 20px;
  height: 20px;
  padding: 0;
  background: @white url("/img/icon-menu-open.svg") no-repeat 0 0;
  border: none;
  cursor: pointer;
  z-index: 3;
}

@media (max-width: 707px) {
  .main-nav--nojs ~ .page-header__toggle {
    display: none;
  }

  .main-nav--opened ~ .page-header__toggle {
    background: @white url("/img/icon-menu-close.svg") no-repeat 0 0;
  }

  .main-nav--closed ~ .page-header__toggle {
    background: @white url("/img/icon-menu-open.svg") no-repeat 0 0;
  }
}

@media (min-width: @tablet-width) {
  .page-header__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
  width: @desktop-width;
  margin: 0 auto;
  }
}
