.product-groups {
  .centerer();
  box-shadow: 0 0 0 3px red;
}

.product-groups__list {
  .reset();
  list-style: none;
}

.product-groups__link {
  display: block;
  width: 130px;
  padding: 28px 160px 28px 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: @white;
  text-align: left;
  text-decoration: none;
  background-color: @light-green;

  &--toys {
    background-color: @dark-green;
  }
}

@media (min-width: @tablet-width) {
  .product-groups__list {
    display: flex;
    flex-wrap: wrap;
  }

  .product-groups__link {
    box-sizing: border-box;
    width: 334px;
    min-height: 119px;
  }
}

@media (min-width: @desktop-width) {
  .product-groups__link {
    width: 525px;
  }
}
