.product-groups__list {
  .reset();
  list-style: none;
}

.product-groups__item {
  width: 100%;
}

.product-groups__link {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  min-height: 103px;
  background-color: @light-green;

  &:hover,
  &:focus {
    /*transform: translateY(-5px);
    outline: none;*/

    .product-groups__icon path {
      fill-opacity: 0.7;
    }

    /*.product-groups__icon,
    .product-groups__title {
      transform: translateY(-5px);
    }*/
  }

  &:active {
    .product-groups__title {
      opacity: 0.3;
    }

    .product-groups__icon path {
      fill-opacity: 0.3;
    }
  }
}

.product-groups__item--interior .product-groups__link {
  padding: 23px 38px 18px 30px;

  &:hover,
  &:focus {
    background-color: @interior-btn-hover;
  }
}

.product-groups__item--toys .product-groups__link {
  background-color: @dark-green;
  padding: 20px 27px 22px 30px;

  &:hover,
  &:focus {
    background-color: @toys-btn-hover;
  }
}

.product-groups__title {
  width: 130px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: @white;
  text-align: left;
  text-decoration: none;
}

.product-groups__icon path {
  fill: @icon-green;
  fill-opacity: 0.5;
}

@media (min-width: @tablet-width) {
  .product-groups {
    padding: 0 50px;
    background-color: @bg-gray;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      display: block;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 24px;
      background: url("/img/bg-zigzag-fill.svg") repeat-x 0 0;
      background-size: auto 24px;
    }
  }

  .product-groups__link {

    &:hover,
    &:focus {
      transform: translateY(-5px);
      outline: none;

      .product-groups__icon,
      .product-groups__title {
        transform: translateY(-5px);
      }
    }
  }

  .product-groups__list {
    display: flex;
    flex-wrap: wrap;
  }

  .product-groups__item {
    width: 50%;
  }

  .product-groups__item--interior .product-groups__link {
    padding: 31px 36px 39px 36px;
  }

  .product-groups__item--toys .product-groups__link {
    padding: 31px 33px 39px 36px;
  }

  .product-groups__title {
    width: 167px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .product-groups {
    padding: 0 100px;
  }
  .product-groups::after {
    height: 34px;
    background-size: auto 34px;
  }

  .product-groups__title {
    width: 175px;
  }

  .product-groups__item--interior .product-groups__link {
    padding-bottom: 44px;
  }

  .product-groups__item--toys .product-groups__link {
    padding-right: 35px;
    padding-bottom: 44px;
  }
}
