.promo-product {
  .centerer();
  box-shadow: 0 0 0 3px blue;
}

.promo-product__wrapper {
  padding: 30px 30px 35px 30px;
}

.promo-product__title {
  .reset();
  .heading-big();
}

.promo-product__subtitle {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: @light-green;
}

.promo-product__price {
  display: block;
  margin: 25px 0 25px 0;
  text-align: center;
}

.promo-product__order {
  text-align: center;
}
