.properties {
  font-size: 15px;
  line-height: 20px;
}

.properties__item {
  min-height: 40px;
  width: 100px;
  padding: 10px 0;
  vertical-align: middle;
  border-bottom: 1px solid @table-border;
}

.properties__value {
  border-bottom: 1px solid @table-border;
}
