.reviews {
  .centerer();

  box-shadow: 0 0 0 3px blue;
}

.reviews__wrapper {
  padding: 30px;
}

.reviews__title {
  .reset();
  margin-bottom: 26px;

  .heading-middle();
}

.reviews__list {
  .reset();
}

.reviews__text {
  .reset();
  margin-bottom: 14px;

  .reviews-text();
}

.reviews__author-name {
  margin-bottom: 26px;

  .menu-link();
  font-style: normal;
}

.reviews__author-nickname {
  .nickname();
}

.reviews__control {
  display: inline-block;
}

.reviews__write {
  margin-top: 39px;
}
