.reviews {
  .centerer();
  box-shadow: 0 0 0 3px blue;
}

.reviews__wrapper {
  padding: 30px;
}

.reviews__title {
  .reset();
  margin-bottom: 26px;
  .heading-big();
}

.reviews__text {
  margin: 0 0 14px 0;
  .text-middle();
}

.reviews__author-name {
  margin-bottom: 26px;
  .heading-middle();
  font-style: normal;
}

.reviews__author-nickname {
  font-size: 17px;
  line-height: 30px;
  font-weight: normal;
  color: @dark-gray;
}

.reviews__control {
  display: inline-block;
}

.reviews__write {
  margin-top: 39px;
}
